body {
  font-family: Arial, sans-serif;
  background-color: #43766C;
  margin: 0;
  padding: 0;
}
.contr {
  width: 100%;
  padding: 20px;
}
.hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #76453B;
  color: white;
  padding: 30px;
  margin-bottom: -20px;
  border-radius: 5px;
}
.hdr .title {
  display: flex;
  align-items: center;
}
.hdr .title i {
  margin-right: 10px;
}
.hdr .search {
  display: flex;
  align-items: center;
}
.hdr .search input {
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.hdr .search i {
  margin-left: 10px;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
  color: #43766C;
}
th {
  background-color: #76453B;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #e0c3a3;
}
.action-buttons {
  display: flex;
  gap: 10px;
}
.btn-add{
  background-color: #76453B;
  border: none;
  color: white;
}
.edit-btn {
  background-color: #43766C;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.delete-btn {
  background-color: #D14848;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #76453B;
  color: white;
  padding: 20px;
  border-radius: 5px;
}
.footer select {
  padding: 5px;
  border: none;
  border-radius: 5px;
}
.footer .pagination {
  display: flex;
  align-items: center;
}
.footer .pagination i {
  margin: 0 5px;
  cursor: pointer;
}
.inpt{
  background-color: #DCD7C9;
  border-radius: 50%;
}